@{{User}} please read the following Contributor License Agreement(CLA). If you agree with the CLA, please reply with the following information.

```
@{{Bot}} agree [company="{your company}"]
```

> Options:
> - (default - no company specified) I have sole ownership of intellectual property rights to my Submissions and I am not making Submissions in the course of work for my employer.
>```
>@{{Bot}} agree
>```
> - (when company given) I am making Submissions in the course of work for my employer (or my employer has intellectual property rights in my Submissions by contract or applicable law). I have permission from my employer to make Submissions and enter into this Agreement on behalf of my employer. By signing below, the defined term “You” includes me and my employer.
>```
>@{{Bot}} agree company="Microsoft"
>```

<details>
    <summary>Contributor License Agreement</summary>
    
{{CLA}}
</details>